body {
    height: auto;
    background-color: #333;
    margin: 0px;
    font-size: 24px;
}

input {
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: inherit;
    height: calc(1em + 6px);
    caret-color: #888;
    outline: none;
}

h3 {
    color: white;
    text-align: left;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 2rem;
    left: 5px;
    top: px;
}

h2 {
    box-sizing: content-box;
    color: white;
    text-align: right;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 5px;
    bottom: 0px;
    right: 5px;
    font-size: 2rem;
}

.output {
    height: calc(4rem + 10px);
    position: relative;
}