body {
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    font-size: 24px;
}

input {
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: inherit;
    height: calc(1em + 6px);
    caret-color: #888;
    outline: none;
}